.foto-perfil {
    height: 100%;
    width: 30%;
    max-width: 100%;
    border-radius: 50%;
}

html {
    scroll-behavior: smooth;
}
.corPrimaria {
    background-color: black;
}
.corSecundaria{
    background-color: #fefdff;
}
p {
    font-family: Roboto;
    color: black !important;
}
.icones {
    padding-left: 5px;
}
.titulos-brancos {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.titulos-pretos {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.corTexto {
    font-family: Roboto;
    color: white !important;
}
